<body class="bg-gray-300">

  <div class="container z-50 mx-auto mt-20 bg-gray-100" style="width: 80%;">
    <div class="max-w-7xl pb-8 lg:py-10 lg:px-4 xl:max-w-full">

      <div class="flex justify-center mt-8">
          <!-- Sidebar -->
          <%= render "host/dashboard/sidebar" %>
          <!-- Main Content -->
          <div class="w-2/3 p-4" id="main-content">
            <div class="card">
              <div class="card-body">
                <!-- Your sidebar Sections -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
