<div class="container mx-auto">
  <div class="grid grid-cols-5 gap-4">

    <div class="col-span-2">
      <ul role="list" class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-1">

        <%= render partial: "properties/property" %>

      </ul>
    </div>

    <div class="col-span-3">
      <h3>Map</h3>
    </div>
  </div>
</div>
