<div class="container mx-auto">
  <ul>
    <% @properties.each do |property| %>
      <li>
        <%= property.name %>
        <% reservation_dates = @reservations_dates[property.id] %>
        <% if reservation_dates.present? %>
          <ul>
            <% reservation_dates.each do |checkin_date, checkout_date| %>
              <li>
                Check-in: <%= checkin_date.strftime('%d-%m-%Y') %>, Check-out: <%= checkout_date.strftime('%d-%m-%Y') %>
              </li>
            <% end %>
          </ul>
        <% else %>
          Available
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
