<div data-controller="users-by-email-auth">

  <p class="text-xl ml-6 text-gray-600 text-center"> Welcome back!</p>
  <button
    type="button"
    data-modal-target = "closeButton"
    class="absolute top-4 right-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      class="w-4 h-4"
      viewBox="0 0 16 16"
    >
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </button>

  <div class="mt-8 flex items-center justify-between">
      <span class=" w-1/5 md:w-1/4"></span>
      <a href="#" class="text-sm font-bold  text-gray-700 uppercase">Sign up</a>
      <span class=" w-1/5 md:w-1/4"></span>
  </div>

  <div class="mt-8 flex items-center justify-between">
      <span class="border-b w-1/5 lg:w-1/4"></span>
      <a href="#" class="text-sm font-bold  text-center text-gray-700 uppercase">or login with email</a>
      <span class="border-b w-1/5 lg:w-1/4"></span>
  </div>
  <div data-users-by-email-auth-target="emailWrapper" class="mt-14">
      <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email Address</label>
      <input data-users-by-email-auth-target = "email" class="bg-gray-100 text-gray-400 rounded py-2 px-4 block w-full" type="text" name="email" id="email" placeholder="user.email@gmail.com" autocomplete="email">
      <div data-users-by-email-auth-target = "invalidSvg" class="hidden absolute inset-y-0 right-0 flex items-center pointer-events-none pr-14 pt-6 ">
        <svg height="12" style="overflow:visible;enable-background:new 0 0 12 12" viewBox="0 0 12 12" width="12" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
      </div>
  </div>
  <p data-users-by-email-auth-target = "errorMessage" class="hidden ml-4 mt-2 text-sm text-red-500" id="email-error">Your email is not correct</p>

  <div class="mt-10">
      <button data-users-by-email-auth-target = "submit" class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600 airbnb-pink-gradient">Login</button>
  </div>
</div>
