<div data-controller="users-by-email-auth">

  <p class="text-xl ml-6 text-gray-600 text-center"> Welcome back!</p>
  <button
    type="button"
    data-modal-target = "closeButton"
    class="absolute top-4 right-4"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      class="w-4 h-4"
      viewBox="0 0 16 16"
    >
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
  </button>

  <div class="mt-8 flex items-center justify-between">
      <span class=" w-1/5 md:w-1/4"></span>
      <a href="#" class="text-sm font-bold  text-gray-700 uppercase">Sign up</a>
      <span class=" w-1/5 md:w-1/4"></span>
  </div>

  <div class="mt-8 flex items-center justify-between">
      <span class="border-b w-1/5 lg:w-1/4"></span>
      <a href="#" class="text-sm font-bold  text-center text-gray-700 uppercase">or login with email</a>
      <span class="border-b w-1/5 lg:w-1/4"></span>
  </div>
  <div data-users-by-email-auth-target="emailWrapper" class="mt-14">
      <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email Address</label>
      <input data-users-by-email-auth-target = "email" class="bg-gray-100 text-gray-400 rounded py-2 px-4 block w-full" type="text" name="email" id="email" placeholder="user.email@gmail.com">
      <div data-users-by-email-auth-target = "invalidSvg" class="hidden absolute inset-y-0 right-0 flex items-center pointer-events-none pr-14 pt-6 ">
        <svg height="12" style="overflow:visible;enable-background:new 0 0 12 12" viewBox="0 0 12 12" width="12" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><g id="Error_1_"><g id="Error"><circle cx="16" cy="16" id="BG" r="16" style="fill:#D72828;"/><path d="M14.5,25h3v-3h-3V25z M14.5,6v13h3V6H14.5z" id="Exclamatory_x5F_Sign" style="fill:#E6E6E6;"/></g></g></g></svg>
      </div>
  </div>
  <p data-users-by-email-auth-target = "errorMessage" class="hidden ml-4 mt-2 text-sm text-red-500" id="email-error">Your email is not correct</p>

  <div class="mt-10">
      <button data-users-by-email-auth-target = "submit" class="bg-gray-700 text-white font-bold py-2 px-4 w-full rounded hover:bg-gray-600 airbnb-pink-gradient">Login</button>
  </div>
</div>

<a href="#" class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100">
  <div class="text-center  py-2">
      <svg class="h-6 w-6" viewBox="0 0 40 40">
          <path d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.045 27.2142 24.3525 30 20 30C14.4775 30 10 25.5225 10 20C10 14.4775 14.4775 9.99999 20 9.99999C22.5492 9.99999 24.8683 10.9617 26.6342 12.5325L31.3483 7.81833C28.3717 5.04416 24.39 3.33333 20 3.33333C10.7958 3.33333 3.33335 10.7958 3.33335 20C3.33335 29.2042 10.7958 36.6667 20 36.6667C29.2042 36.6667 36.6667 29.2042 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z" fill="#FFC107"/>
          <path d="M5.25497 12.2425L10.7308 16.2583C12.2125 12.59 15.8008 9.99999 20 9.99999C22.5491 9.99999 24.8683 10.9617 26.6341 12.5325L31.3483 7.81833C28.3716 5.04416 24.39 3.33333 20 3.33333C13.5983 3.33333 8.04663 6.94749 5.25497 12.2425Z" fill="#FF3D00"/>
          <path d="M20 36.6667C24.305 36.6667 28.2167 35.0192 31.1742 32.34L26.0159 27.975C24.3425 29.2425 22.2625 30 20 30C15.665 30 11.9842 27.2359 10.5975 23.3784L5.16254 27.5659C7.92087 32.9634 13.5225 36.6667 20 36.6667Z" fill="#4CAF50"/>
          <path d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.7592 25.1975 27.56 26.805 26.0133 27.9758C26.0142 27.975 26.015 27.975 26.0158 27.9742L31.1742 32.3392C30.8092 32.6708 36.6667 28.3333 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z" fill="#1976D2"/>
      </svg>
  </div>
  <h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold">Sign in with Google</h1>
</a>
