<% @property.reviews.includes(user: :profile).each do |review| %>
  <article class="container mx-auto px-4 py-2  sm:px-6 lg:max-w-7xl lg:px-8  max-w-2xl rounded-md" >
      <div class="flex items-center mb-4 space-x-4">
          <% if review.user.profile.picture.attached? %>
            <%= image_tag review.user.profile.picture, class: "w-10 h-10 rounded-full", alt: review.user.full_name %>
          <% end %>
          <div class="space-y-1 font-medium dark:text-white">
              <p><%= review.user.full_name %> </p>
          </div>
      </div>

      <div class="flex items-center mb-1">
      <% review_star_classes =["text-gray-300", "text-gray-300","text-gray-300", "text-gray-300", "text-gray-300"]

        review.rating.times do |i|
          review_star_classes[i] = "text-yellow-300"
        end
        # raise
      %>
      <% review_star_classes.each do |star_class| %>
        <svg class="w-4 h-4 <%= star_class %> mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
            <path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
        </svg>
      <% end %>
      </div>
      <p class="mb-2 text-gray-500 dark:text-gray-400"><%= review.body %></p>
  </article>
<% end %>
