
<body class="antialiased bg-gray-100 text-gray-900 font-sans p-6">

  <div  data-controller="geolocation"
        class="container mx-auto py-12"
        data-latitude="<%= current_user&.profile&.latitude %>"
        data-longitude="<%= current_user&.profile&.longitude %>"
  >
    <ul class="grid grid-cols-4 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-4 gap-1">
      <%= render partial: 'properties/property' %>
    </ul>
  </div>


</body>
