.c-card {
  img {
    transition: transform .3s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.05)
    }
  }
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
