@import "_colors";

.h-20 {
  height: 6rem;
}
.logo-link {
  svg {
    display: block;
    fill: $airbnb-logo;
  }
}
.invalid-input-text-field {
  border-color: rgba(244, 63, 94, 0.9) !important;
  label {
    color: rgba(244, 63, 94, 0.9) !important;
  }
  input[type="email"], input[type="text"]{
    &:focus {
      border-color: rgba(244, 63, 94, 0.9) !important;
    }
    color: rgba(244, 63, 94, 0.9) !important;
  }
}
